#nav{
    background-color: #fde753;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left: 0;
    right: 0;
    width: 100%; /* Full width */
    height: 100px;
    z-index: 9999;
    text-align: justify;
    border-bottom: 5px solid #efd739;
}

#nav .links
{
    text-align: center;
    float: left;
    height: 100%;
    vertical-align: middle;
}

#title
{
    width: 80%;
    padding-top: 25px;
    font-size: 40px;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 2px 2px #efd739;
    font-family: "Lucida Console", Times;
}

#user
{
    color: #FFFFFF;
    padding-top: 25px;
    padding-left: 50px;
    -webkit-filter: drop-shadow(2px 2px 2px #efd739 );
  filter: drop-shadow(2px 2px 2px #efd739);
}

.inject
{
  margin-top: 120px;
  margin-left: 50px;
  margin-right: 50px;
}
